:root{
  --grey-20: #EEF1F5;
  --grey-30: #E8ECEF;
  --link: #2F8AF5;
  --lead: #232B34;
  --grey-50: #C8D0D8;
  --danger: #ED6B4F;
  --danger-light: rgba(237, 107, 79, 0.1);
  --warning-light: rgba(240, 175, 9, 0.12);
  --success-light: rgba(48, 181, 101, 0.1);
}
/*
  grey-10 - Text color, border color and background color
*/
.grey-10 {
  background-color: #F4F6F8!important;
}
.grey-10-outline {
  border-color: #F4F6F8 !important;
}
.grey-10--text {
  color: #F4F6F8 !important;
}

/*
  grey-20 - Text color, border color and background color
*/
.grey-20 {
  background-color: var(--grey-20)!important;
}
.grey-20-outline {
  border-color: var(--grey-20)!important;
}
.grey-20--text {
  color: var(--grey-20)!important;
}

/*
  grey-30 - Text color, border color and background color
*/
.grey-30 {
  background-color: var(--grey-30)!important;
}
.grey-30-outline {
  border-color: var(--grey-30) !important;
}
.grey-30--text {
  color: var(--grey-30) !important;
}

/*
  grey-50 - Text color, border color and background color
*/
.grey-50 {
  background-color: var(--grey-50) !important;
}
.grey-50-outline {
  border-color: var(--grey-50) !important;
}
.grey-50--text {
  color: var(--grey-50) !important;
}

/*
  grey-70 - Text color, border color and background color
*/
.grey-70 {
  background-color: #748494!important;
}
.grey-70-outline {
  border-color: #748494 !important;
}
.grey-70--text {
  color: #748494 !important;
}

/*
  grey-70-light - Text color, border color and background color
*/
.grey-70-light {
  background-color: #e8ecef!important;
}
.grey-70-light-outline {
  border-color: #e8ecef !important;
}
.grey-70-light--text {
  color: #e8ecef !important;
}

/*
  grey-80 - Text color, border color and background color
*/
.grey-80 {
  background-color: #405261!important;
}
.grey-80-outline {
  border-color: #405261 !important;
}
.grey-80--text {
  color: #405261 !important;
}

/*
  danger - Text color, border color and background color
*/
.danger {
  background-color: var(--danger) !important;
}
.danger-outline {
  border-color: var(--danger) !important;
}
.danger--text {
  color: var(--danger) !important;
}

/*
  danger-light - Text color, border color and background color
*/
.danger-light {
  background-color: var(--danger-light) !important;
}
.danger-light-outline {
  border-color: var(--danger-light) !important;
}
.danger-light--text {
  color: var(--danger-light) !important;
}

/*
  warning - Text color, border color and background color
*/
.warning {
  background-color: #F0AF09!important;
}
.warning-outline {
  border-color: #F0AF09 !important;
}
.warning--text {
  color: #F0AF09 !important;
}

/*
  warning-light - Text color, border color and background color
*/
.warning-light {
  background-color: var(--warning-light) !important;
}
.warning-light-outline {
  border-color: var(--warning-light) !important;
}
.warning-light--text {
  color: var(--warning-light) !important;
}

/*
  success - Text color, border color and background color
*/
.success {
  background-color: #30B565 !important;
}
.success-outline {
  border-color: #30B565 !important;
}
.success--text {
  color: #30B565 !important;
}

/*
  success-light - Text color, border color and background color
*/
.success-light {
  background-color: var(--success-light) !important;
}
.success-light-outline {
  border-color: var(--success-light) !important;
}
.success-light--text {
  color: var(--success-light) !important;
}

/*
  link - Text color, border color and background color
*/
.link {
  background-color: var(--link) !important;
}
.link-outline {
  border-color: var(--link) !important;
}
.link--text {
  color: var(--link) !important;
}

/*
  lead - Text color, border color and background color
*/
.lead {
  background-color: var(--lead) !important;
}
.lead-outline {
  border-color: var(--lead) !important;
}
.lead--text {
  color: var(--lead) !important;
}

/*
  lead-light - Text color, border color and background color
*/
.lead-light {
  background-color: #434E5B !important;
}
.lead-light-outline {
  border-color: #434E5B !important;
}
.lead-light--text {
  color: #434E5B !important;
}